<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/475480ae-bd91-4c25-b5a0-ee4bebf0b1a5/resourceGroups/Bleh-nmah-east-us/providers/Microsoft.Web/sites/KalanchoeAI-server</ResourceId>
    <ResourceGroup>Bleh-nmah-east-us</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://kalanchoeai-server.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://kalanchoeai-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$KalanchoeAI-server</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>